body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

img {
    border: 0;
    max-width: 100%;
}

.logo {
    background: rgb(112,207,245);
}

.footer {
    margin-top: 70px;
    margin-bottom: 40px;
}
h1 {
    font-size: 200%;
    padding: 0px;
    margin: 0;
}

h1,h2,h3,h4,figcaption,p,input,textarea {
    font-family: 'Economica', sans-serif;
}
p {
    font-family: 'Cutive Mono', sans-serif;
}

ul {
    font-family: 'Cutive Mono', cursive;
}

.mockup {
    height: 450px;
    width: auto;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

nav {
    text-align: right;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

nav ul {
     display: inline-block;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 8px 25px;
    color: black;
    text-decoration: underline;
}

a:hover {

    /* display: block; */
    color: black;
    background: rgb(112,207,245);
    
}

/* Nav seksjon ferdig */

.heading {
    margin-top: 10px; 
    margin-bottom: 20px;  
}

.topheader {
    margin-top: 35px;
}

.kontakt > input,textarea  {
    margin: 5px;
    border-radius: 5px;
    font-size: 110%;
}

.two-col {
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;  
    -webkit-column-rule: 1px solid grey; 
    -moz-column-rule: 1px solid grey; 
    column-rule: 1px solid grey;
    margin-bottom: 50px;
 }

@media screen and (min-width:800px){
  .two-col {
      -webkit-columns: 2 200px;
      -moz-columns: 2 200px;
      columns: 2 200px;    
      }
 .container {
    padding: 10px;
    margin: 0 auto;
    width: 85%;
 }
}

@media screen and (max-width:800px){
  .two-col {
      -webkit-columns: 1 200px;
      -moz-columns: 1 200px;
      columns: 1 200px;  
    }

    .container {
        padding: 20px;
        margin: 0 auto;
        width: 85%;
    }
}
/* tilpasset mobil  */
@media screen and (max-width: 600px) {
    .container {
        padding: 20px;
        margin: 0 auto;
        width: 85%;
    }
}

.oppgave {
    border-radius: 25px;
    background: rgb(112,207,245);
    padding: 20px; 
    width: 200px;
    height: 300px; 
    margin: auto;
    text-align: center;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.oppgave p,a{
    color: black;
    text-decoration-color: black;
    text-decoration: underline;
    
}

p a {
    font-style: italic;
}

.oppgave img {
    height: auto;
    width: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-large {
    width: 300px;
}

.hide {
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.active {
    background: rgb(112,207,245);
    text-decoration-color: white;
}


.not-active {
    background: lightcoral;
}
.not-active:hover {
    background: lightcoral;
}
 /* UML Diagram tree */
 .tree {
    -webkit-transform-origin: 50%;
            transform-origin: 50%;    
    margin: auto;
  }
  
  .tree ul {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
  }
  .tree ul::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1em .5em 0 .5em;
  }
  .tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 1em;
  }
  .tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
  }
  .tree li:only-child::after, .tree li:only-child::before {
    display: none;
  }
  .tree li:only-child {
    padding-top: 0;
  }
  .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
  }
  .tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
  }
  .tree li:first-child::after {
    border-radius: 5px 0 0 0;
  }
  
  .tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 1em;
  }
  
  .tree li a,span {
    border: 1px solid #ccc;
    padding: .5em .75em;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    color: #333;
    position: relative;
    top: 1px;
  }
  
  .tree li a:hover + ul li::after,
  .tree li a:hover + ul li::before,
  .tree li a:hover + ul::before,
  .tree li a:hover + ul ul::before {
    border-color:rgb(112,207,245);
  }

.tree li a {
    max-width: 100%;
    
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .tree li a:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .hovedtype {
    background: rgb(112,207,245);
  }

  .tree {
    width: 100%;
  }
 /* UML Diagram tree  ferdig */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:10px;
    margin-top: 35px;
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: 10px;
}